*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header{
background-image: url(../img2/pattern.png);
height: 100px; 
background-color: lightblue;
  
}

.logo{
    height: 100%;
}

.blu{
    color: blue;
}

.grigio{
    color:lightgray;
}

.margin{
    
    margin: 20px;
}
.blu1{
  background-color: rgb(52, 171, 210);
  color: white;
}

.azzurro{
    background-color:rgb(159, 220, 240);
}